*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	 
	text-decoration: none;
	list-style: none;  
	--main-orange-color:#FF9900;                 
}
@font-face{
	font-family: myfont;
	src: url('./font/Signika-VariableFont_wght.ttf');
}

#headerbanner{
	height: 600px;
	width: 100%;
	display: flex;
	background-image: url('./images/header-bg.png');
	background-size: cover;
	margin-bottom: 100px;
}

.nav-header{
	width: 90%;
	height: 100px;
	margin: 0px auto;
}
.nav-header .header-logo img{
	vertical-align: middle;
	display: inline-flex;
}
.nav-header .header-logo img:hover{
	transform: scale(1.04);
}
.nav-header ul{
	display: inline-flex;

}
.nav-header ul li a{
	display: inline-flex;
	text-shadow: 3px 0px 3px #000;
	color: #fff;
	font-size: 22px;
	font-family: Roboto;
	font-weight: bold;
	line-height: 100px;
	margin-left: 50px;
}
.nav-header ul li a:nth-child(n+1):hover{
	color: var(--main-orange-color);
}
.khau-lenh-header{
	display: block;
	margin-top: 80px;
	margin-left: 100px;
}

.khau-lenh-header H1{
	text-shadow: -4px 4px 3px #000;
	font-size:55px;
	color: var(--main-orange-color);
	font-weight: bolder;
	font-family: myfont;
}
.khau-lenh-header H2{
	text-shadow: -4px 4px 3px #000;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 150px;
	color: var(--main-orange-color);
	font-family: myfont;
}
.khau-lenh-header H3{
	text-shadow: -4px 4px 3px #000;
	font-size: 20px;
	margin-top: 10px;
	margin-left: -62px;
	color: var(--main-orange-color);
	font-family: myfont;
}
.khau-lenh-header H1:nth-child(2){
	text-shadow: -4px 4px 3px #000;
	margin-left: 77px;
	margin-top: 7px;
}

.khau-lenh-header p{
	font-size: 20px;
	margin-left: -108px;
	margin-top: 152px;
}

#Khaibao-checkmap{
	height: 480px;
}

#Khaibao-checkmap .wrapper{
	position: relative;
	height: 500px;
	margin-bottom: 80px;
}
.kc-decor2{
	position: absolute;
	top: -122px;
	left: 40px;
	width: 95%;
	height: 600px;
	margin: 0px auto;
	opacity: 0.3;
	background-color: #ABABAB;
	border-radius: 50px;
}
.kc-decor{
	position: initial;
	top: 600px;
	width: 100%;
	height: 360px;
	margin-top: 250px;
	background-color: #C4C4C4;
}
.kc-khaibao{
	position: absolute;
	top: -75px;
	left: 128px;
	height: 500px;
	width: 40%;
	border: 5px solid #113FE1;
	border-radius: 20px;
	background-color: #E2E9FF;
}

.kc-khaibao:hover{
	transform: scale(1.03);
	border: 5px dashed #113FE1;
}

.kb-item h2{
	position: absolute;
	top: 70px;
	right: 40px;
	font-size: 30px;
	font-family: Roboto;
}
.kb-item .text1{
	position: absolute;
	top: 120px;
	left: 300px;
	font-size: 20px;
	font-family: Roboto;
}
.kb-item .text2{
	position: absolute;
	top: 145px;
	left: 300px;
	font-size: 20px;
	font-family: Roboto;
}
.kb-item .text3{
	position: absolute;
	top: 170px;
	left: 300px;
	font-size: 20px;
	font-family: Roboto;
}
.kc-map{
	position: absolute;
	text-align: center;
	top: -75px;
	right: 128px;
	height: 500px;
	width: 40%;
	border: 5px solid #FFAA2A;
	border-radius: 20px;
	background-color: #FFF1DD;
}
.kc-map:hover{
	transform: scale(1.03);
	border: 5px dashed #FFAA2A
}
.kc-map:hover .kc-overlay{
	opacity: 1;
}
.map-item .text1{
	font-size: 30px;
	font-family: Roboto;
}
.map-item .text2{
	font-size: 30px;
	font-family: Roboto;
}

#namK{
	margin: 120px 0px;
}
.namK-container-title{
	width: 20%;
	text-align: center;
	margin: 0px auto;
	height: 70px;
	background-color: #E9F8FF;
	border-radius: 20px 20px 10px 10px;
}
.namK-container-title h2{
	padding-top: 15px;
	color: var(--main-orange-color);
	font-family: myfont;
	font-size: 40px;
	font-weight: bolder;
}
.namK-wrapper-item{
	margin: 0px auto;
	width: 95%;
	height: 500px;
	background-color: #E9F8FF;
	border-radius: 50px;
	box-shadow: -3px 3px 15px #696969;
}
.namK-container-item{
	display: flex;
	justify-content: space-between;
	padding: 30px ;
	flex-wrap: wrap;
}
.namK-item{
	position: relative;
	height: 330px;
	width: 17%;
	text-align: center;
	background-color: #e3e3e3;
	border-radius: 20px;
}
.namK-item img{
	display: block;
	position: absolute;	
	bottom: 0px;
	left: -12px;
}
.namK-item #wash2{
	left: -21px;
	bottom: -5px;
}
.namK-item #distance2{
	left: -21px;
	bottom: -1px;
}
.namK-item #notcrownd2{
	left: -13px;
	bottom: -9px;
}
.namK-item h2{
	font-size: 23px;
	padding-top: 10px;
	font-family: myfont;
	color: var(--main-orange-color);
	font-weight: bold;
}
.namK-wrapper-item h1{
	margin-top: 20px;
	text-align: center;
	font-size: 35px;
	font-family: myfont;
	color: var(--main-orange-color);

}
.namK-item .mask:hover{
	opacity: 0;
}
.namK-item  .mask:hover .mask{
	opacity: 1;
}	

.namK-item .wash:hover{
	opacity: 0;
}

.namK-item .wash:hover .wash{
	opacity: 1;
}

.namK-item .distance:hover{
	opacity: 0;
}
.namK-item .distance:hover .distance{
	opacity: 1;
}
.namK-item .notcrownd:hover{
	opacity: 0;
}
.namK-item .notcrownd:hover .notcrownd{
	opacity: 1;
}
.namK-item .khaibao1:hover{
	transform: rotate(10deg);
}


#taiapp{
	height: 300px;
	background-color: #FFE8DE;
	border-radius: 50px;
	margin-bottom: 120px;
	box-shadow: -3px 3px 15px #696969;
}

#taiapp h1{
	padding-top: 50px;
	padding-left: 100px;
	font-size: 40px;
	font-weight: bolder;
	font-family: Roboto;
}
#taiapp h2{
	padding-top: 10px;
	padding-left: 100px;
	font-family: Roboto;
	width: 950px;
}
.taiapp-wrapper{
	display:flex;
	margin-top: 20px;
	height: 90px;
	vertical-align: middle;
}
.taiapp-wrapper img{
	float: right;
	height: 90px;
	width: 90px;
	margin-left: 120px;
}
.taiapp-wrapper img:hover{
	transform: scale(1.03);
}
.taiapp-wrapper p{
	font-family: Roboto;
	font-size: 17px;
	float: right;
	line-height: 90px;
/*	margin-right: 79px;*/
}
.taiapp-wrapper p:hover{
	color: var(--main-orange-color);
	transform: translateY(3px);
}
#tintuc{
	margin-bottom: 100px;
}
.tintuc-wrapper-title{
	width: 17%;
	height: 70px;
	background-color: #FDEFD5;
	text-align: center;
	margin:0px auto;
	border-radius: 20px 20px 10px 10px;

}
.tintuc-wrapper-title h1{
	font-family: myfont;
	font-size: 40px;
	padding-top: 15px;
}
.tintuc-container{
	display: block;
	justify-content: space-between;
	width: 95%;
	margin: 0px auto;
	height: 550px;
	background-color: #FDEFD5;
	border-radius: 50px;
	box-shadow: -3px 3px 15px #696969;

}
.tintuc1{
	float: left;
	height: 500px;
	width: 47%;
	margin: 30px 10px 30px 30px ;
	background-color: #FFF;
	border-radius: 20px;
	border: 4px solid #3d3d3d;
}
.tintuc1 img{
	margin: 20px 17px;
	border-radius: 20px;
}
.tintuc1 h2{
	font-family: myfont;
	margin-left: 20px;
}
.tintuc1 p{
	font-size: 19px;
	margin: 10px 20px 20px 20px ;
}
.tintuc2{
	float: right;
	height: 255px;
	width: 47%;
	margin: 30px 30px 30px 10px;
	background-color: #fff;
	border-radius: 20px;
	border: 4px solid #3d3d3d;
}
.tintuc2 img{
	margin-left: 34px;
	margin-top: 16px;
	border-radius: 20px;
}
.tintuc3{
	display: inline-flex;
	height: 200px;
	width: 29%;
	margin: 10px 20px 30px 20px;
	background-color: #fff;
	border-radius: 20px;
	border: 4px solid #3d3d3d;
}
.tintuc3 img{
	border-radius: 16px;

}

.tintuc4{
	display: inline-flex;
	float: right;
	height: 200px;
	width: 15%;
	margin: 10px 30px 30px 10px;
	background-color: #fff;
	border-radius: 20px;
	border: 4px solid #3d3d3d;
}

.tintuc4 img{
	border-radius: 16px;
}

#footer{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('./images/footer-bg.png');
}
.footer-container{
	margin: 20px auto;
	width: 85%;
	height: 400px;
}
.footer-contact{
	display: inline-block;
	height: 150px;
	padding-top: 30px;
}
.footer-contact img{
	display: inline-flex;
	vertical-align: middle;
}

.footer-contact a{
	margin-left: 30px;
	font-size: 21px;
	display: inline-flex;
	color: var(--main-orange-color);
	font-family: sans-serif;
}
.footer-text{
	width: 75%;
}
.footer-text p{
	margin-left: 30px;
	font-size: 19px;
	font-family: Roboto;
	color: #fff;
}



@media only screen and (max-width: 1024px){

#headerbanner{
	height: 440px;
}
.khau-lenh-header p{
	display: none;
}
.khau-lenh-header{
	margin-top: 17px;
}
.kc-khaibao{
	left: 84px;
}
.kb-item img{
	width: 392px;
	height: 488px;
}
.kb-item h2{
	right: 12px;
	font-size: 23px
}
.kb-item .text1{
	left: 190px;
	font-size: 19px;
}
.kb-item .text2{
	left: 190px;
	font-size: 19px;
}
.kb-item .text3{
	left: 190px;
	font-size: 19px;
}
.kc-khaibao{
	width: 42%;
}
.kc-map{
	right: 40px;
	width: 43%;
}
.kc-map img{
	height: 229px;
	margin-top: 45px;
}
#namK{
	margin: 80px 0px;
}
.namK-wrapper-item h1{
	font-size: 37px;
}
.namK-container-title{
	width: 30%;
}
.namK-item h2{
	font-size: 20px;
}
.namK-item .mask1{
	bottom: 2px;
}

.namK-item{
	height: 250px;
}
.namK-item img{
	height: 170px;
	width: 170px;
}
.namK-item #mask1{
	bottom: -1px;
	width: 170px;
	height: 166px;
}
.namK-item #wash2{
	left: -14px;
	bottom: 1px;
}
.namK-item #distance2{
	left: -15px;
	bottom: -1px;
}
.namK-item #notcrownd2{
	left: -11px;
	bottom: 6px;
}
.tintuc-container{
	height: 485px;
}
.tintuc1{
	height: 425px;
}
.tintuc1 img{
	height: 197px;
}
.tintuc1 h2{
	font-size: 18px;
}
.tintuc2{
	height: 183px;
	width: 44%;
}
.tintuc2 img{
	margin-top: 16px;
	margin-left: 17px;
	height: 140px;
}
.tintuc3{
	width: 43%;
}
.tintuc4{
	display: none;
}
#taiapp{
	margin-bottom: 100px;
}
#taiapp h1{
	padding-left: 47px;
	font-size: 33px;
}
#taiapp h2 {
	padding-left: 47px;

}
.taiapp-wrapper img{
	height: 67px;
	width: 182px;
	margin-top: 20px;
}

}




