* {
    --main-orange-color:#FF9900;
}

html {
    font-size: 62.5%;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Header Style */
.nav-header{
    padding: 0 76px;
	/* width: 90%; */
	/* height: 100px; */
	margin: 0px auto;
    background-image: url(../images/header-bg.png);
}
.nav-header .header-logo img{
	vertical-align: middle;
	display: inline-flex;
}
.nav-header .header-logo img:hover{
	transform: scale(1.04);
}
.nav-header ul{
	display: inline-flex;
    list-style: none;
    padding-left: 0;
}
.nav-header ul li a{
	display: inline-flex;
	text-shadow: -4px 4px 2px #000;
	color: #fff;
	margin-left: 50px;
	font-size: 22px;
	font-family: Roboto;
	font-weight: bold;
	line-height: 100px;
    text-decoration: none;
}
.nav-header ul li a:nth-child(n+1):hover{
	color: var(--main-orange-color);
}

/* Body Style */
.map__container {
    margin-top: 20px;
}

#map {
    
    width: 90vw;
    height: 100vh;
}

.marker__pointCurrentLocation {
    background: url("../images/icons8-marker-50.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.marker {
    background-image: url("../images/icons8-filled-circle-50.png");
    filter: blur(4px);
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.marker__less {
    background-image: url("../images/icons8-filled-circle-50.png");
    filter: blur(9px);
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 350px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.convert__place-container {
    font-size: 1.3rem;
}

.convert__place-container button {
    font-size: 1.5rem;
}

textarea {
    font-size: 1.5rem;
}



/* Footer */
#footer{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../images/footer-bg.png');
}
.footer-container{
	margin: 20px auto;
	width: 85%;
	height: 400px;
}
.footer-contact{
	display: inline-block;
	height: 120px;
	padding-top: 30px;
}
.footer-contact img{
	display: inline-flex;
	vertical-align: middle;
}
.footer-contact p{
	margin-left: 30px;
	font-size: 21px;
	display: inline-flex;
	color: var(--main-orange-color);
	font-family: sans-serif;
}
.footer-text{
	width: 75%;
}
.footer-text p{
	margin-left: 30px;
	font-size: 19px;
	font-family: Roboto;
	color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}

@media only screen and(max-width: 768px){
.nav-header{
	padding: 0px 10px;
}
.nav-header .header-logo img{
	height: 50px;
}
.nav-header ul li a{
	margin-left: 18px;
	color: red !important;
}
}
