.content {
	margin: 0px 0px;
	
}
.container-fluid {
	background-image: linear-gradient(to right, #113FE1 , #FE7373) !important;
	
}
.lala {
	height: 10px;
	width: 100%;
}
.nav-link{
	text-shadow: 2px 2px 2px #000;
	color: #fff !important;
	font-size: 22px;
	font-family: Roboto;
	font-weight: bold;
}
.nav-link:hover {
	color: #FF9900 !important;
	
}
.la {
	margin-right: 20px !important;

}
.gioitinh {
	margin-left: 0px !important;
}
.gioitinh-check {
	padding: 0px !important;
}
.covid-infected{
	height: 100% !important;
	min-height: 110px !important;
	background-color:#f44336 !important;
	margin: 3px 0px !important;
	color: white !important;
	width: 100% !important;
	font-weight: 400 !important;
	font-size: 20px !important;
	border-radius: 23px !important;
}
.covid-infected:hover {
	background-color:#dd0e26 !important;
}
.covid-download{
	height: 100% !important;
	min-height: 110px !important;
	background-color:#188531!important;
	margin: 3px 0px !important;
	color: white !important;
	width: 100% !important;
	font-weight: 400 !important;
	font-size: 20px !important;
	border-radius: 23px !important;	
}
.covid-download:hover {
	background-color: #17ac3a !important;
}
.bg-navba {
	border-bottom: 1px solid #af91912d ;

}
.toggle-color {
	background-color: #D5D5D5 !important;
}
.footer {	
	height: 350px;	
}
.footer p{
	font-size: 20px;
	margin-top: 100px;
	color: #fff;
}
.commit-protect-info {
	font-size: 15px !important;
	color: rgba(44, 37, 61, 0.719) !important;
}
.content2 {
	background-image: linear-gradient(to right, #4F8BFF , #FE7373) !important;
	display: none;	
	
}
.content2-col-item {
	padding: 10px !important;
	margin-top: 3px !important;
}
.btn-manual {
	width: 100%  !important;
	min-height: 100px !important;
	font-size: 30px !important;
}
.form-container {
	border-bottom: 1px solid #c4d5e9  !important;
	margin-bottom: 10px !important;
}

.modal-container {
	margin: 5px 0px !important;
	width: 100%;
}
.btn-stuff {
	margin-bottom: 10px !important;
}
.nav-item {
	font-size: 20px !important;
	font-weight: 500 !important;
	text-shadow: -4px 4px 2px #000;
}

.form-label {
	font-weight: 450 !important;
}
.detailform-button {
	width: 100px !important;
	margin-right: 5px !important;
}
.edit-modal-step{
	color: #cc0f0f;
	font-weight: 500;
}